* {
    outline: 1px solid red;
    overflow: hidden;
    /* use this to check element layout */
}

body {
    font-family: "Montserrat", sans-serif;
}

.main-container {
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.text-input-box {
    width: 75%;
    text-align: center;
}

.text-display-box {
    width: 75%;
}

button {
    width: 25%;
}

h2 {
    text-align: center;
}

button:active {
    background-color: gray;
    color: white;
}
